*{
	margin: 0px;
	padding: 0px;
}
#tampilan-1{
	height: 100vh;
	background-image: url(gambar/backgroundhome.jpg);
	background-position: center;
	background-size: cover;
}

.navbar{
	width: 85%;
	height: 10%;
	padding: 10px;
	margin: auto;
}

.navbar ul li{
	display: inline-block;
	margin: 20px;
}

.navbar ul li a{
	text-decoration: none;
	color: #fff;
   	 font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	letter-spacing: 1px;
	font-weight: bolder;
}

.navbar input{
	margin-left: 10px;
	background: #ffc600;
	border-radius: 20px;
	border-style: none;
    text-decoration: none;
    padding: 7px 25px;
    color: white;
   	font-family: font-family: 'Roboto', sans-serif;
   	font-weight: bolder;
}

.logo{
	width: 13%;
	display: inline-block;
}

.home{
	width: 85%;
	height: 90%;
	margin: auto;
	align-items: center;
	text-align: center;
	justify-content: center;
	padding-top: 13%;
}

.teks-besar{
	color: white;
	font-size: 6vw;
	font-weight: bolder;
	font-family: 'Lobster', cursive;
	position: relative;
}

.teks-kecil{
	color: white;
	font-size: 1vw;
	font-weight: bolder;
	font-family: font-family: 'Roboto', sans-serif;
	position: relative;
}

.garis-1 {
	width: 15%;
	height: 5px;
	background-color: #e37401;
	display: inline-block;
}

#tampilan-2{
	height: 100vh;
}

.kualitas{
	height: 50%;
}

.kualitas .kiri{
	width: 50%;
 	height: 100%;
	float: left;
 	background-color: #e37401; 
 	padding: 8%;
 	position: relative;
	display: inline-block;
}

.kualitas .kiri h1{
	font-size: 3vw;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.kualitas .kiri p{
	font-size: 1vw;
	font-family: font-family: 'Roboto', sans-serif;
	color: white;
}

.kualitas .kanan{
	width: 50%;
 	height: 100%;
	float: right;
	background-image: url(gambar/kualitas.jpg);
	background-position: center;
	background-size: cover;
}

.kenyamanan{
	height: 50%;
}

.kenyamanan .kiri{
	width: 50%;
 	height: 100%;
	float: left;
 	background-image: url(gambar/kenyamanan.jpg);
	background-position: center;
	background-size: cover;
}

.kenyamanan .kanan{
	width: 50%;
 	height: 100%;
	float: right;
	background: #2c2c2c;
	padding: 9%;
	position: relative;
	display: inline-block;
	
}

.kenyamanan .kanan h1{
	font-size: 3vw;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.kenyamanan .kanan p{
	font-size: 1vw;
	font-family: font-family: 'Roboto', sans-serif;
	color: white;
}

#tampilan-3{
	height: 100vh;
	background-image: url(gambar/backgroundhome2.jpg);
	background-position: center;
	background-size: cover;
}

.hiasan {
	height: 40%;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: #ffc600; 
}

.hiasan .box{
	width: 25%;
	height: 80%;
	margin: 1%;
	position: relative;
	background-color: #ffc600; 
	padding: 20px;
	position: relative;
	display: inline-block;
}

.hiasan .box img{
	width: 25%;
	margin-bottom: 10px;
}

.hiasan .box h1{
	font-size: 1.5vw;
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin-bottom: 10px;
}

.hiasan .box p{
	font-size: 0.8vw;
	font-family: font-family: 'Roboto', sans-serif;
	color: white;
	
}

.judul{
	height: 10%;
	align-items: center;
	justify-content: center;
	text-align: center;
	display: flex;
}

.judul .teks-judul {
	font-size: 2vw;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.menu{
	height: 50%;
	display: flex;
	justify-content: center;
	padding: 20px;
}

.menu .menu-box {
	width: 90%;
	height: 100%;
	float: left;
	margin-right: 30px;
	margin-left: 20px;

}

.menu .menu-box .gambar {
	height: 75%;
}

.menu .menu-box .gambar img{
	height: 100%; 
	width: 100%; 
	top:0;
	left:0;
	object-fit: cover;
}

.menu .menu-box .gambar .box-new{
	position: absolute;
	width: 5%;
	height: 10%;
	background-color: #ffc600;

}

.menu .menu-box .gambar .box-new img{
	height: 100%; 
	width: 100%; 
	top:0;
	left:0;
	padding: 10%;
}

.menu .menu-box .harga {
 	height: 25%;
 	padding: 5px;
 	position: relative;
 	
}

.menu .menu-box .harga  h1{
	font-size: 1.3vw;
	color: #ffc600;
	font-family: 'Montserrat', sans-serif;
}
.menu .menu-box .harga  h2{
	font-size: 1vw;
	color: white;
	font-family: 'Poppins', sans-serif;
}

#tampilan-4{
	height: 100vh;
	background-image: url(gambar/backgroundhome2.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.event{
	width: 95%;
	height: 95%;
	padding: 20px;
}

.event .event-kiri{
	width: 50%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}

.event .event-kiri .event-atas{
	width: 100%;
	height: 40%;
}

.event .event-kiri .event-atas .judul-atas {
	width: 100%;
	height: 50%;
	padding-left: 5%;
	position: relative;
	display: inline-block;

}

.event .event-kiri .event-atas .judul-atas h1 {
	font-size: 4vw;
	color: #e37401;
	font-family: 'Montserrat', sans-serif;
}

.event .event-kiri .event-atas .judul-atas h2 {
	font-size: 3vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.event .event-kiri .event-atas .judul-bawah {
	width: 100%;
	height: 50%;
	padding-right: 20%;
	padding-left: 5%;
	text-align: justify;
	padding-top: 5%;
}

.event .event-kiri .event-atas .judul-bawah h1{
	font-size: 1vw;
	color: white;
	font-family: font-family: 'Roboto', sans-serif;
}

.event .event-kiri .event-bawah{
	width: 100%;
	height: 60%;
}

.event .event-kiri .event-bawah .box-e-atas{
	width: 100%;
	height: 50%;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kiri{
	width: 40%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 2%;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kiri .event-tema{
	width: 100%;
	height: 100%;
	background-color: #e37401;
	padding: 7%;
	position: relative;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kiri .event-tema svg{
	width: 25%;
	height: 25%;
	fill: white;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kiri .event-tema h1{
	font-size: 1.7vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kiri .event-tema h2{
	font-size: 1.2vw;
	color: white;
	font-family: font-family: 'Roboto', sans-serif;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kanan{
	width: 60%;
	height: 100%;
	float: right;
	box-sizing: border-box;
	padding: 2%;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kanan .event-waktu{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.08);
	padding: 7%;
	position: relative;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kanan .event-waktu svg{
	width: 25%;
	height: 25%;
	fill: white;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kanan .event-waktu h1{
	font-size: 1.7vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.event .event-kiri .event-bawah .box-e-atas .col-a-kanan .event-waktu h2{
	font-size: 1.2vw;
	color: white;
	font-family: font-family: 'Roboto', sans-serif;
}

.event .event-kiri .event-bawah .box-e-bawah{
	width: 100%;
	height: 50%;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kiri{
	width: 40%;
	height: 100%;
	float: left;
	box-sizing: border-box;
	padding: 2%;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kiri .event-pelaksana{
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.08);
	padding: 7%;
	position: relative;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kiri .event-pelaksana svg{
	width: 25%;
	height: 25%;
	fill: white;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kiri .event-pelaksana h1{
	font-size: 1.7vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kiri .event-pelaksana h2{
	font-size: 1.2vw;
	color: white;
	font-family: font-family: 'Roboto', sans-serif;
}


.event .event-kiri .event-bawah .box-e-bawah .col-b-kanan{
	width: 60%;
	height: 100%;
	float: right;
	box-sizing: border-box;
	padding: 2%;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kanan .event-informasi{
	width: 100%;
	height: 100%;
	background-color: #e37401;
	padding: 7%;
	position: relative;
	display: inline-block;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kanan .event-informasi svg{
	width: 25%;
	height: 25%;
	fill: white;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kanan .event-informasi h1{
	font-size: 1.7vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 20px;
}

.event .event-kiri .event-bawah .box-e-bawah .col-b-kanan .event-informasi h2{
	font-size: 1vw;
	color: white;
	font-family: font-family: 'Roboto', sans-serif;
}

.event .event-kanan{
	width: 50%;
	height: 100%;
	float: right;
	padding: 1%;
	box-sizing: border-box;
	position: relative;
	display: inline-block;

}

.event .event-kanan img{
	height: 100%; 
	width: 100%; 
	top:0;
	left:0;
	object-fit: cover;

}




