*{
	margin: 0px;
	padding: 0px;
}
#tampilan-1{
	height: 100vh;
	background-image: url(../gambar/backgrounddetail.jpg);
	background-position: center;
	background-size: cover;
}

.navbar{
	width: 100%;
	height: 10%;
	display: flex;
}

.navbar .navbar-kiri{
	width: 20%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar .navbar-kiri img{
	width: 50%;
}

.navbar .navbar-tengah{
	width: 60%;
	height: 100%;
	padding-left: 25%;
	padding-top: 0.7%;
}

.navbar .navbar-tengah ul li{
	list-style: none;
	display: inline-block;
	margin-left: 20px;
	margin-right: 10px;
}

.navbar .navbar-tengah ul li a:hover {
	color: #ffc600;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	
}

.navbar .navbar-tengah ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
}

.navbar .navbar-tengah .dropdown li{
	display: inline-block;

}
 
.navbar .navbar-tengah .dropdown:hover .isi-dropdown {
	display: block;
	width: 250px;
	padding-bottom: 10px;
	padding-top: 10px;

}
 
.navbar .navbar-tengah .isi-dropdown {
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: #181818;
	
}
 
.navbar .navbar-tengah .isi-dropdown a {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;	

}

.navbar .navbar-tengah .isi-dropdown a:hover {
	color: #ffc600;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	
}

.navbar .navbar-tengah .isi-dropdown li {
	margin-bottom: 10px;
}

.navbar .navbar-kanan{
	width: 20%;
	height: 100%;
}

.navbar .navbar-kanan .nav-k-kiri{
	width: 17%;
	height: 100%;
	float: left;
	padding: 7px;
}

.navbar .navbar-kanan .nav-k-kiri .kiri-foto img{
	height: 100%; 
	width: 100%; 
	top:0;
	left:0;
	object-fit: cover;
	border-radius: 100%;
	border-style: none;

}

.navbar .navbar-kanan .nav-k-kanan{
	width: 83%;
	height: 100%;
	float: right;
	padding-top: 4%;
}

.navbar .navbar-kanan .nav-k-kanan ul li{
	list-style: none;
	display: inline-block;
	margin-left: -30px;
}

.navbar .navbar-kanan .nav-k-kanan ul li a:hover {
	color: #ffc600;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	
}

.navbar .navbar-kanan .nav-k-kanan ul li a{
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
}

.navbar .navbar-kanan .nav-k-kanan .dropdown li{
	display: inline-block;

}
 
.navbar .navbar-kanan .nav-k-kanan .dropdown:hover .isi-dropdown {
	display: block;
	width: 200px;
	padding-bottom: 10px;
	padding-top: 10px;

}
 
.navbar .navbar-kanan .nav-k-kanan .isi-dropdown {
	position: absolute;
	display: none;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	background-color: #181818;
	
}
 
.navbar .navbar-kanan .nav-k-kanan .isi-dropdown a {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;	

}

.navbar .navbar-kanan .nav-k-kanan .isi-dropdown a:hover {
	color: #ffc600;
	font-family: 'Montserrat', sans-serif;
	font-size: 1vw;
	
}

.navbar .navbar-kanan .nav-k-kanan .isi-dropdown li {
	margin-bottom: 10px;
}

.detail{
	width: 80%;
	height: 85%;
	margin: auto;
	padding: 40px;

}

.detail .detail-kiri{
	width: 50%;
	height: 100%;
	float: left;
	padding: 20px;

}

.detail .detail-kiri img{
	height: 100%; 
	width: 100%; 
	top:0;
	left:0;
	object-fit: cover;
	box-shadow: 0px 0px 20px 0px black;
}

.detail .detail-kanan{
	width: 50%;
	height: 100%;
	float: right;
	padding-top:60px;
	padding-left: 20px;
}

.detail .detail-kanan .kanan-judul{
	width: 100%;
	height: 10%;
	background-color: #ffc600;
	padding-left: 20px;
}

.detail .detail-kanan .kanan-judul h1{
	font-size: 2.5vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
}


.detail .detail-kanan .kanan-isi{
	width: 100%;
	height: 90%;
	padding-left: 20px;
	padding-top: 20px;
}

.detail .detail-kanan .kanan-isi h1{
	font-size: 3vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

.detail .detail-kanan .kanan-isi h2{
	font-size: 1.2vw;
	color: white;
	font-family: font-family: 'Roboto', sans-serif;
}

.detail .detail-kanan .kanan-isi h3{
	font-size: 1.3vw;
	color: white;
	font-family: 'Montserrat', sans-serif;
	margin-top: 30px;
}

.detail .detail-kanan .kanan-isi h4{
	font-size: 0.7vw;
	color: white;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 30px;
}

.detail .detail-kanan .kanan-isi span {
	width: 20%;
	height: 5px;
	background-color: #ffc600;
	display: inline-block;
}

.detail .detail-kanan .kanan-isi input{
	margin-right: 10px;
	background: #ffc600;
	border-style: none;
    text-decoration: none;
    padding: 7px 25px;
    color: white;
   	font-family: 'Montserrat', sans-serif;
   	font-weight: bolder;
}